 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1319px;
}

.u-section-1 .u-image-1 {
  width: 362px;
  height: 362px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0.85);
  margin: 58px auto 0 91px;
}

.u-section-1 .u-group-1 {
  width: 692px;
  min-height: 535px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -32px 255px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Bruno Ace";
  font-size: 4.5rem;
  margin: 50px 54px 0 -54px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 2;
  font-family: Convergence;
  margin: 13px 30px 0 -30px;
}

.u-section-1 .u-image-2 {
  width: 70px;
  height: 70px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 240deg;
  --animation-custom_in-scale: 1;
  margin: -49px auto 0 281px;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  margin: 33px auto 0 162px;
  padding: 9px 42px 9px 41px;
}

.u-section-1 .u-image-3 {
  width: 403px;
  height: 403px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -145px auto 0 77px;
}

.u-section-1 .u-image-4 {
  width: 403px;
  height: 403px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -1163px 58px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 327px;
  height: 327px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 473px 91px 17px auto;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -9px;
    margin-right: 195px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -25px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1306px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 598px;
    margin-right: 83px;
    margin-bottom: 18px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 33px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 91px;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-image-3 {
    margin-left: 46px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 301px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 182px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 15px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1459px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 469px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -37px;
    margin-left: 226px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: 107px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1373px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 542px;
    margin-top: 345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: -52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 326px;
    height: 326px;
    margin-top: -44px;
  }

  .u-section-1 .u-image-4 {
    width: 313px;
    height: 313px;
    margin-top: -1154px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 832px;
}

.u-section-2 .u-group-1 {
  width: 487px;
  min-height: 771px;
  height: auto;
  margin: 61px 39px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 45px 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Bruno Ace";
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 405px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px 30px 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Convergence;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-family: Convergence;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px 30px 0;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Convergence;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-family: Convergence;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 10px 30px 0;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Convergence;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-family: Convergence;
}

.u-section-2 .u-layout-wrap-1 {
  width: 745px;
  margin: -764px auto 0 50px;
}

.u-section-2 .u-image-1 {
  min-height: 338px;
  background-image: url("images/floorballSinglePlayerAction1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 282px;
  background-image: url("images/swedenfloorball.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 165px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 289px;
  background-image: url("images/toronto-canada-10th-february-2018-viitakoski-valtteri-91-and-mcvey-M3BB9B.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 69px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 165px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  min-height: 620px;
  background-image: url("images/WFC-2019-SWE-SUI-final-Fabian-Trees-1482x987.jpg");
  background-position: 68.97% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 20px;
}

.u-section-2 .u-group-4 {
  min-height: 69px;
  height: auto;
  width: 273px;
  margin: -69px auto 0 50px;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-group-5 {
  min-height: 69px;
  height: auto;
  width: 248px;
  margin: -69px 526px 144px auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: -581px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 277px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-family: Convergence;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 248px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 221px;
}

.u-section-2 .u-container-layout-18 {
  padding: 15px 0;
}

.u-section-2 .u-text-13 {
  font-family: Convergence;
  width: auto;
  margin: 0;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-19 {
  padding: 0;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-20 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-family: Convergence;
  width: auto;
  margin: 0;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 83px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 68px;
    margin-right: -63px;
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 703px;
    margin-top: -771px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 351px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 170px;
  }

  .u-section-2 .u-image-3 {
    min-height: 303px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 170px;
  }

  .u-section-2 .u-image-4 {
    min-height: 644px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -44px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-group-5 {
    margin-right: 395px;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-group-1 {
    width: 445px;
    min-height: 643px;
    margin-top: 110px;
    margin-right: -29px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 523px;
    margin-top: -586px;
  }

  .u-section-2 .u-image-1 {
    min-height: 264px;
  }

  .u-section-2 .u-image-2 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 94px;
  }

  .u-section-2 .u-image-3 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 158px;
  }

  .u-section-2 .u-image-4 {
    min-height: 528px;
  }

  .u-section-2 .u-group-4 {
    width: 192px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-5 {
    min-height: 55px;
    width: 177px;
    margin-top: -55px;
    margin-right: auto;
    margin-left: 346px;
  }

  .u-section-2 .u-container-layout-14 {
    padding: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-2 .u-group-1 {
    min-height: 678px;
    margin: 31px auto 60px 115px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -767px;
    margin-left: -697px;
  }

  .u-section-2 .u-image-1 {
    min-height: 490px;
  }

  .u-section-2 .u-image-2 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-2 .u-image-3 {
    min-height: 420px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-2 .u-image-4 {
    min-height: 1798px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 112px;
  }

  .u-section-2 .u-container-layout-14 {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-2 .u-group-1 {
    margin: 122px -495px 0 auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 735px;
  }

  .u-section-2 .u-image-2 {
    min-height: 614px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 630px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 359px;
  }

  .u-section-2 .u-image-4 {
    min-height: 1349px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 22px;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 110px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 236px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 310px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 198px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1584px;
  }

  .u-section-2 .u-group-1 {
    min-height: 99px;
    width: 340px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -38px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 32px;
    margin-right: -41px;
    margin-left: 61px;
  }

  .u-section-2 .u-list-1 {
    width: 194px;
    margin: 285px 60px -281px auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 15px;
    grid-gap: 10px 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -8px;
    width: auto;
    margin-left: -894px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -8px;
    width: auto;
    margin-left: -894px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -8px;
    width: auto;
    margin-left: -894px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 463px;
    order: 1;
  }

  .u-section-2 .u-image-2 {
    min-height: 387px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-2 .u-image-3 {
    min-height: 397px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 226px;
  }

  .u-section-2 .u-image-4 {
    min-height: 849px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 78px;
    margin-left: -430px;
  }

  .u-section-2 .u-group-5 {
    min-height: 59px;
    margin-top: 259px;
    margin-right: -691px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin: 287px 510px -252px -490px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -8px;
    margin-bottom: 11px;
  }

  .u-section-2 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 252px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-17 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 204px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 446px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  text-decoration: underline !important;
  width: 909px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  letter-spacing: 6px;
  font-family: Oswald, sans-serif;
  margin: 18px 0 40px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1939px;
}

.u-section-4 .u-text-1 {
  font-family: Convergence;
  text-shadow: 0px -2px 8px rgba(128,128,128,1);
  font-size: 6rem;
  animation-timing-function: ease;
  width: 773px;
  margin: 49px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 992px;
  height: 881px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 129px 80px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 908px;
  height: 800px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1010px 147px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 814px;
  height: 814px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/51740743325_f7c5195a7c_o.jpeg");
  background-position: 50% 50%;
  margin: -736px 233px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  margin: 170px 128px 0 168px;
}

.u-section-4 .u-form-1 {
  height: 473px;
  background-image: none;
  width: 772px;
  margin: 41px auto 60px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1.96;
    margin-top: 38px;
  }

  .u-section-4 .u-text-2 {
    width: 826px;
    margin-top: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-form-1 {
    margin-top: 40px;
    margin-right: 203px;
    margin-left: 165px;
  }

  .u-section-4 .u-btn-1 {
    padding-top: 9px;
    padding-bottom: 11px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 53px;
    margin-left: 15px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 139px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -1022px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -705px;
    margin-right: 126px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 113px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 19px;
    margin-right: 100px;
    margin-left: 68px;
  }

  .u-section-4 .u-btn-1 {
    width: 17%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1880px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 14px;
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 256px;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 41px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1814px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 29px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-top: -852px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-top: 289px;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    width: 27%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-shape-1 {
    height: 372px;
    margin-top: 209px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-2 {
    height: 549px;
    width: 340px;
    margin-top: -557px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -444px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 152px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    width: 42%;
  }
}