 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 894px;
}

.u-section-1 .u-text-1 {
  font-family: "Bruno Ace";
  font-size: 4.5rem;
  margin: 61px auto 0;
}

.u-section-1 .u-image-1 {
  width: 503px;
  height: 554px;
  margin: 77px auto 0 43px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: -554px 139px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 81px 0 627px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 147px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 176px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 96px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 125px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-family: Convergence;
  font-weight: 700;
  margin: 20px 81px 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 24px 176px 60px auto;
  padding: 9px 42px 9px 41px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 504px;
    background-position: 50% 50%;
    margin-top: 59px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -508px;
    margin-right: 83px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    line-height: 1;
    margin-top: 17px;
    margin-right: 82px;
    margin-left: 493px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 104px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 31px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-right: 70px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 17px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-right: 104px;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 58px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4px;
    margin-right: 52px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 3px;
    margin-right: auto;
    margin-left: 167px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-left: -11px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
    margin-right: 123px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    width: 329px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 23px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 17px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 27px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-bottom: 33px;
    margin-left: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    line-height: 1;
    margin-top: 29px;
    margin-right: 50px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-3 {
    width: 258px;
    margin-top: 29px;
  }

  .u-section-1 .u-text-4 {
    line-height: 1;
    margin-top: 29px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 13px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-6 {
    line-height: 1;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    line-height: 1;
    margin-top: 33px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-8 {
    line-height: 1;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin: 33px 33px 27px auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1823px;
}

.u-section-2 .u-text-1 {
  width: 909px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 824px;
  margin: 44px auto 60px 246px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1565px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-video-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-video-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-video-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1399px) {
  .u-section-2 .u-list-1 {
    margin-top: 43px;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1005px;
  }
}

.u-block-0b32-45:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-45:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-45:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-45:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-45:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-44:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-44:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-44:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-44:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-44:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]).u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]).u-block-0b32-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #2e2933 !important;
}

.u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]).u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]).u-block-0b32-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #2e2933 !important;
}

.u-block-0b32-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-74:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-74:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0b32-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0b32-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0b32-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .embed-responsive-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0b32-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-0b32-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-0b32-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-78:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .embed-responsive-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .embed-responsive-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .embed-responsive-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .embed-responsive-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .embed-responsive-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-84:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-84:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-84:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-84:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-80:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-80:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-80:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-80:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-0b32-86:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b32-86:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b32-86:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-0b32-86:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-0b32-86:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}